body {
    background: #e7edf3;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* MAIN CARD */
.main-wrapper {
    width: 1100px;
    margin: 50px auto;
    background: white;
    border-radius: 14px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

/* LEFT IMAGE COLUMN */
.left-section {
    width: 50%;
}

.place-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* FULL COVER */
}

/* RIGHT FORM COLUMN */
.right-section {
    width: 50%;
    padding: 30px 35px;
}

/* TITLE */
.title {
    font-size: 24px;
    font-weight: 600;
    color: #1fa0ff;
    margin-bottom: 18px;
}

/* FORM GROUPS */
.form-group {
    margin-bottom: 14px;
}

.form-group label {
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

/* INPUT SIZES */
.full-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 14px;
}

.small-input {
    width: 150px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 14px;
}

.half-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.half-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 14px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 14px;
    resize: vertical;
}

/* BUTTON */
.submit-btn {
    width: 100%;
    background: #55b4ff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background: #1fa0ff;
}
.half-row {
    display:flex;
    justify-content:space-between;
    width:100%;
    gap:20px;
}

.form-group {
    width:100%;
}

.half-input {
    width:100%;
}