body {
    background:#e7edf3;
    margin:0;
    font-family:Poppins, sans-serif;
}

/* USER CARD */
.info-card {
    width:420px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.12);
    text-align:center;
}

/* BOOKING GRID */
.book-grid {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* BOOKING CARD */
.booking-box {
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    overflow: hidden;
    text-align: center;
    padding-bottom: 18px;
}

/* TOP IMAGE */
.book-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* TEXT SECTION */
.book-info {
    padding: 15px;
}

.book-info b {
    font-size: 18px;
    color: #1fa0ff;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.book-info span {
    display: block;
    margin-top: 4px;
    font-size: 15px;
    color: #333;
    font-weight: 500;
}